:root{
   --cor-principal: rgb(209, 50, 209); 
   --cor-secundaria: rgba(23, 178, 189, 0.219);
    --botao-azul:black;
    --cor-fundo: violet;

}
body {
    background-color: var(--cor-fundo);
}
.principal{
    background-image:url("Background.png") ;
    background-repeat: no-repeat ;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}